@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand:wght@300&&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0 none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body { height: 100%; }

body {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  /* background-color: #7293c0; */
  background-image: linear-gradient(
    to bottom left, #fff 40%, #c7cacf
  );
}
